header{
    background: url('https://files.slack.com/files-pri/TNGRRLUMA-FUPDV3PC5/200x70.png');
    background-repeat: no-repeat;
    float: left;
    height: 70px;
    width: 400px;
    margin-left: 170px;
    margin-top: -100px;
}


h1{
    background: url('https://files.slack.com/files-pri/TNGRRLUMA-FUR98QQ9M/960x450.png');
    text-align: center;
    height: 200px;
    background-repeat: no-repeat;
   /* margin: 50px; */
   margin-top: 130px;
   margin-right: 60px;
   margin-left: 150px;
   padding: 50px;
float: inherit;
text-indent: #999999;
   
}
h2{
    background: url('https://files.slack.com/files-pri/TNGRRLUMA-FUDA7M9A5/300x375.png');
    background-repeat: no-repeat;
    height: 300px;
    margin-left: 150px;
}
h3{
    background: url('https://files.slack.com/files-pri/TNGRRLUMA-FUDA7M9A5/300x375.png');
    background-repeat: no-repeat;
    height: 300px;
    margin-left: 480px;
    margin-top: -320px;
}
h4{
    background: url('https://files.slack.com/files-pri/TNGRRLUMA-FUDA7M9A5/300x375.png');
    background-repeat: no-repeat;
    height: 300px;
    margin-left: 810px;
    margin-top: -320px;
}
main{
    background: url('https://files.slack.com/files-pri/TNGRRLUMA-FURKFURML/480x400.png');
    background-repeat: no-repeat;
    height: 400px;
    margin-left: 150px;
}
h6 {
    text-align: right;
        height: 390px;
        width: 490px;
        z-index: 1;
        top: 0;
        
        background-color: whitesmoke;
        overflow-x: hidden;
        padding-top: 15px;
        margin-left: 495px;
        margin-top: 50px;
        text-decoration: whitesmoke;
        text-decoration-style: wavy;
        text-size-adjust: 60pt;

}
footer{
    background-color: #DDD;
    padding: 60px;
    margin-top: 30px;
   margin-left: 150px;
   margin-right: 189px;

}
